/*******************
      GENERAL 
********************/

/* font-family: 'Bungee Shade', cursive;
font-family: 'Rubik', sans-serif; */

body {
  padding-top: 70px; /* because of fixed navbar */
  font-family: 'Montserrat', sans-serif;
  background-color: #E1E2E1;
}
.App.container {
  padding-top: 15px;
}
.container {
  max-width: 835px;
}
button {
  margin-right: 5px;
}
.main-content {
  padding-top: 20px;
}

/*******************
      HEADINGS
********************/

.navbar-brand, 
.flash-text,
.hero-text {
  font-family: 'Bungee Shade', cursive;
  font-size: 32px;
}
.hero-text {
  /* color: #f0b64c; */
  padding-bottom: 16px;
  padding-top: 16px;
}
.hall-of-fame .hero-text {
  border-radius: 3px 3px 0 0;
  padding: 15px;
  color: #0077c1;
  margin-bottom: 0;
  font-size: 32px;
  /* background-color: rgba(248,249,250,.9); */
}
.flash-text {
  font-size:32px;
  color: #0077c1;
}
@keyframes text-flash {
  0% { opacity: 1;  } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}
@-webkit-keyframes text-flash {
  0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

/*******************
      NAV
********************/

.navbar {
  background: #42a5f4;  
  background: #0077c1;
  min-height: 75px;
  box-shadow: 1px 2px 3px #999;
}
.navbar-nav {
  width: 100%;
}
.navbar-nav .nav-link.nav-link-auth {
  color: white;
  float: right;
}
.navbar-nav .nav-link.nav-link-auth:hover {
  color: white;
  cursor: pointer;
}
.nav-right {
  margin-left: auto;
}
.user-profile img {
  width: 40px;
  border-radius: 50%;
  margin-right:  10px;
  margin-left: 10px;
}
.user-profile {
  padding-right: 5px;
}

/*******************
 TYPOGRAPHY & COLORS
********************/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}
.bg-purple {
  background-color: #0077c1;
  border-color: #0077c1;
}
.bg-purple:hover {
  background-color: #42a5f4;
  border-color: #42a5f4;
}
.bg-grey, .bg-grey:not(:disabled):not(.disabled).active {
  background-color: #ada8ad;
  border-color: #ada8ad;
}
.bg-grey:hover, .bg-grey:not(:disabled):not(.disabled).active:hover {
  background-color:#c5bec5;
  border-color: #c5bec5;
}


/****************************
 QUIZ SCREEN / PLAY MODE 
*****************************/

.card-container {
  display: inline-block;
  width:50%;
}
.card {
  margin-bottom: 10px;
  box-shadow: 1px 2px 2px #666;
  border-radius: 4px;
}
.carousel-item .card-text {
  margin-bottom: 25px;
}
.carousel-item .card {
  min-height: 450px;
}
.card.btn {
  width: 100%;
  margin-bottom: 10px;
  white-space: normal; /* enables word wrapping */
  line-height: 1.4;
  min-height: unset;
  /* height: 50px; */
  cursor: pointer;
}
.card .btn:nth-child(4) {
  margin-bottom: 50px;
}
.card-deck .col {
  padding-right: 5px;
  padding-left: 5px;
}
.card-deck .card-body {
  padding: .3rem 1.25rem;
}
.carousel-item .card-body {
  padding: 25px;
}
.card-deck .card {
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}


/*******************
 ANSWER BUTTONS AND THEIR ANIMATIONS 
********************/

.btn-outline-secondary {
  width: 100%;
  margin-bottom: 5px;
  /* height: 50px; */
}
.btn-outline-secondary:hover {
  color: inherit;
}
.btn.btn-wrong-answer.disabled, 
.btn.btn-wrong-answer.disabled:hover
{
  background-color: #d32f2f;
  color: white;
}
.btn.btn-correct, .btn.btn-correct:hover {
  background: #aed581;
}
.btn.btn-correct-animate, .btn.btn-correct-animate:hover {
  background: #aed581;
  color: black;
  animation-name: flash;
  animation-duration: 1.8s;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2s;
}
@keyframes flash {
  0% {background-color: inherit; }
  16% {background-color: inherit; }
  32% {background-color: #aed581; }
  48% {background-color: inherit; }
  64% {background-color: #aed581; }
  80% {background-color: inherit; }
  100% {background-color: #aed581; }
}
@-webkit-keyframes flash {
  0% {background-color: inherit; }
  16% {background-color: inherit; }
  32% {background-color: #aed581; }
  48% {background-color: inherit; }
  64% {background-color: #aed581; }
  80% {background-color: inherit; }
  100% {background-color: #aed581; }
}

.gcse-searchbox {
  border: 2px solid red;
  height: 30px;
}
.carousel-indicators {
  margin-bottom: 25px;
}
.carousel-indicators li {
  cursor: initial;
  background-color: lightgrey;
  height: 30px;
  text-indent: 10px;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: none;
  line-height: 30px;
  color: #fff;
  background-color: lightgrey;
  transition: all 0.25s ease;
  border-radius: 3px;
}
.carousel-indicators li.active,
.carousel-indicators li.hover {
  background-color: black;
  margin: 0 2px;
  width: 30px;
  height: 30px;
}
.question-number {
  color: white;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}


/*******************
      ICONS
********************/
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 30px;
  margin-left: 0px;
  margin-right: 10px;
}

/****************************
START SCREEN CATEGORY CARDS
*****************************/
.card-deck a {
  color: initial;
  text-decoration: none;
}
h5.card-title {
  display: inline;
  vertical-align: super;
}
.card:hover {
  box-shadow: 0 3px 4px 0 #999;
}
.card-deck {
  margin-right: unset;
  margin-left: unset; 
  flex-flow: row wrap;
}
.card-deck .card:hover,
.card-body .btn-outline-secondary:hover {
  background-color: #f4f2f4;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0 8px 8px 0 #D3D3D3;
}
.card-deck .col-md-6,
.card-deck .col-lg-4,
.card-deck .col-xl-3 {
  padding-left: 5px;
  padding-right: 5px;
}


/*******************
    SCORECARD
********************/

.scorecard {
  max-width: 400px;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: white;
}
.scorecard.show {
  opacity: 1;
}
.scorecard tr:last-child {
  border-bottom: 1px solid rgba(158, 158, 158, 0.15);
}
.scorecard tr td:last-child {
  text-align: right;
}
.scorecard .btn-lg {
  width: 100%;
  margin-bottom: 15px;
}
.scorecard i:before,
.hall-of-fame i:before {
  font-size: 30px;
  margin-right: 0;
}



/***************************
    TOP SCORES/HALL OF FAME    
****************************/ 

.hall-of-fame {
  margin-top: 5px;
  border: 1px solid #9e9e9e75;
  border-radius: 4px;
}
.table-hall-of-fame .table {
  color: black;
  border-radius: 0 0 3px 3px;
  /* background-color: rgba(248, 249, 250, .9); */
}
.table-hall-of-fame thead th,
.table-hall-of-fame thead td,
.table-hall-of-fame tbody td
 {
  vertical-align: middle;
  border-bottom: 2px solid #e9ecef;
  padding: 5px 5px 5px 15px;
  height: 52px;
}
.table-hall-of-fame tbody td {
  background-color: #fff;
}
.table-hall-of-fame thead td {
    border-top: none;
    padding: .7rem 1rem;
}
.table-hall-of-fame tbody tr {
  box-shadow: 0 2px 2px lightgrey;
  border-style: none;
}
.reactable-column-header {
  background: #0077c1;
  color: white;
}
/* ADD BOOTSTRAP .FORM-CONTROL STYLES TO THIS INPUT */
.reactable-filter-input {
  width: 100%;
  height: 52px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* SCORES TABLE SORT ICONS  */
th.reactable-header-sortable:after {
  content: '\2191\2193';
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 5px;
}
th.reactable-header-sortable {
  cursor: pointer;
}

/* SCORES TABLE PAGINATION */
tbody.reactable-pagination td {
  display: table-cell; /* to get border-collapse */
  text-align:center;
  padding-bottom: 20px;
}
.reactable-pagination td a {
  display: inline-block;
  border-collapse: collapse;
  min-width: 30px;
  border: 1px solid #bbb;
  padding: 5px 10px;
  color: black;
}
.reactable-pagination td a:first-child {
  border-radius: 4px 0 0 4px;
}
.reactable-pagination td a.reactable-next-page {
  border-radius: 0 4px 4px 0;
}
td a.reactable-current-page {
  background: #bbb;
  color: white;
} 

.reactable-pagination tr {
  text-align: center;
}



.score-stats span {
  font-size: 2rem;
  /* match btn-lg dimensions */ 
  height: 45px;
  margin-bottom: 8px;
}
.quiz-score-card .btn,
.quiz-score-card .btn.active {
  background-color: black;
  color: #f0b64c;
}
.quiz-score-card .row {
  margin-bottom: 20px;
}

/***************************
        UTILITIES  
****************************/ 
.max-width-600 {
  max-width: 600px;
  margin: auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.alert-success {
  color: white;
  background-color: #aed581;
  border: none;
  float: right;
  display: none;
  margin-left: 15px;
  white-space: pre;
}

/* MAKE ICON SPIN */ 
/* .flaticon-dice {
  animation: rotate-center 0.6s ease-in-out;
}
@keyframes rotate-center {
   100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
} */

/***************************
        MEDIA QUERIES  
****************************/ 

/* ipad portrait and up */
@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none;
  }
}

/* smaller than ipad portrait */
@media screen and (max-width: 767px) {
  .hidden-sm-down {
    display: none;
  }
  /* hide 4th column */
  .reactable-th-date,
  .reactable-data td:nth-child(4) {
    display: none;
  }
}

/* phones */ 
@media screen and (max-width: 576px) {
  .nav-right {
    margin-left: unset;
  }
  .navbar-nav .nav-link.nav-link-auth {
    color: white;
    float: none;
  }
  .question-list .flash-text {
    font-size: 32px;
  }
  .question-list .hero-text {
    min-height: 140px;
  }
  .carousel .card {
    min-height: 400px;
  }
  .carousel-indicators {
    margin-right: 5%;
    margin-left: 5%;
  }
  .navbar-brand {
    font-size: 22px;
  }
  .card-container {
    width: 100%;
  }
}

/* small phones like iphone 5 */
@media screen and (max-width: 350px) {
   .navbar-brand {
    font-size: 18px;
  }
}







