button {
  margin-right: 5px;
}
.card button {
  width: 100%;
  margin-bottom: 10px;
}
/* because of fixed navbar */
body {
  padding-top: 55px;
  background-color: #e6e8be;
}
.card {
  min-height: 300px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 2px #666;
  border-radius: 4px;
}
.card:hover {
  /* box-shadow: 1px 3px 2px #777; */
}
.card-deck card {
  margin-bottom: 15px;
}
.card-btn {
  min-height: 100px;
  /* max-height: 100px; */
  cursor: pointer;
}
.btn-outline-secondary:hover {
  background-color: #e9ecef;
  color: inherit;
}
.btn.btn-correct-answer, .btn.btn-correct-answer:hover {
  background: #93f291;
}
.btn.btn-wrong-answer, .btn.btn-wrong-answer:hover {
  background: #edaf9b;
}
.main-content {
  padding-top: 20px;
}
