/*******************
      GENERAL 
********************/

body {
  /* because of fixed navbar */
  padding-top: 70px;
  font-family: 'Montserrat', sans-serif;
  /* background image */
  background: linear-gradient(rgba(90, 62, 76, 0.5), rgba(0, 0, 0, 0.7)), url(./assets/library_photo.png);
  background-size: cover;
  height: 250vh;
}
.App.container {
  padding-top: 15px;
}
.container {
  max-width: 720px;
}
button {
  margin-right: 5px;
}
.main-content {
  padding-top: 20px;
}
.hero-text {
  font-size: 42px;
  font-weight: bold;
  color: #f0b64c;
  padding-bottom: 20px;
  /* padding-top: 105px; */
  text-align: center;
}
.hall-of-fame .hero-text {
  border-radius: 3px 3px 0 0;
  padding: 15px;
  color: #444;
  margin-bottom: 0;
  font-size: 25px;
  /* margin-top: 85px; */
  background-color: rgba(248,249,250,.9);
}
.question-list .hero-text {
  background-image: url(./assets/marquee3.png);
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  margin-bottom: 15px;
  min-height: 170px;
}
.flash-text {
  padding-top: 10%;
  font-size:55px;
  animation: text-flash linear 1s infinite;
  -webkit-animation: text-flash linear 1s infinite;
}
@keyframes text-flash {
  0% { opacity: 1;  } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}
@-webkit-keyframes text-flash {
  0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

/*******************
      NAV
********************/

.navbar {
  background: #291f29;
  min-height: 75px;
}
.navbar-nav {
  width: 100%;
}
.navbar-nav .nav-link.nav-link-auth {
  color: white;
  float: right;
}
.navbar-nav .nav-link.nav-link-auth:hover {
  color: white;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 4px;
}
.nav-right {
  margin-left: auto;
}
.user-profile img {
  width: 40px;
  border-radius: 50%;
  margin-right:  10px;
  margin-left: 10px;
}
.user-profile {
  padding-right: 5px;
}

/*******************
 TYPOGRAPHY & COLORS
********************/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}
.bg-purple {
  background-color: #6b566b;
  border-color: #6b566b;
}
.bg-purple:hover {
  background-color: #7d5f7d;
  border-color: #7d5f7d;
}
.bg-grey, .bg-grey:not(:disabled):not(.disabled).active {
  background-color: #ada8ad;
  border-color: #ada8ad;
}
.bg-grey:hover, .bg-grey:not(:disabled):not(.disabled).active:hover {
  background-color:#c5bec5;
  border-color: #c5bec5;
}


/****************************
 QUIZ SCREEN / PLAY MODE 
*****************************/

.card .btn {
  width: 100%;
  margin-bottom: 10px;
  white-space: normal; /* enables word wrapping */
  line-height: 1.4;
}
.card .btn:nth-child(4) {
  margin-bottom: 50px;
}
.card {
  min-height: 450px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 2px #666;
  border-radius: 4px;
}
.card-deck .col {
  padding-right: 5px;
  padding-left: 5px;
}
.card-deck div {
    width: 99%;
}
.card-deck .card-body {
  padding: .5rem 1.25rem;
}
.card-deck .card {
  margin-right: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
}
.card-btn {
  min-height: 50px;
  cursor: pointer;
}

/*******************
 ANSWER BUTTONS AND THEIR ANIMATIONS 
********************/
.btn-outline-secondary:hover {
  color: inherit;
}
.btn.btn-wrong, .btn.btn-wrong:hover {
  background: #f80100;
}
.btn.btn-correct, .btn.btn-correct:hover {
  background: #0EBF00;
}
.btn.btn-correct-animate, .btn.btn-correct-animate:hover {
  background: #0EBF00;
  animation-name: flash;
  animation-duration: 1.8s;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2s;
}
@keyframes flash {
  0% {background-color: inherit; }
  16% {background-color: inherit; }
  32% {background-color: #0EBF00; }
  48% {background-color: inherit; }
  64% {background-color: #0EBF00; }
  80% {background-color: inherit; }
  100% {background-color: #0EBF00; }
}
@-webkit-keyframes flash {
  0% {background-color: inherit; }
  16% {background-color: inherit; }
  32% {background-color: #0EBF00; }
  48% {background-color: inherit; }
  64% {background-color: #0EBF00; }
  80% {background-color: inherit; }
  100% {background-color: #0EBF00; }
}

.gcse-searchbox {
  border: 2px solid red;
  height: 30px;
}


.carousel-indicators li {
  cursor: initial;
  background-color: lightgrey;
  height: 30px;
  text-indent: 10px;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: none;
  line-height: 30px;
  color: #fff;
  background-color: lightgrey;
  transition: all 0.25s ease;
  border-radius: 3px;
}
.carousel-indicators li.active,
.carousel-indicators li.hover {
  background-color: black;
  margin: 0 2px;
  width: 30px;
  height: 30px;
}
.question-number {
  color: white;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: white;
  font-size: 32px;
}


/*******************
      ICONS
********************/
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 30px;
  margin-left: 0px;
  margin-right: 10px;
}

/****************************
START SCREEN CATEGORY CARDS
*****************************/
.card-deck a {
  color: initial;
  text-decoration: none;
}
h5.card-title {
  display: inline;
  vertical-align: super;
}
.card:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.7),
  0 1px 10px 0 rgba(0, 0, 0, 0.6),
  0 2px 4px -1px rgba(0, 0, 0, 0.8);
}
.card-deck {
  margin-right: unset;
  margin-left: unset; 
}
.card-deck .card:hover {
  background-color: #f4f2f4;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.card-deck .col-md-6,
.card-deck .col-lg-4,
.card-deck .col-xl-3 {
  padding-left: 5px;
  padding-right: 5px;
}


/*******************
    SCORECARD
********************/

.scorecard {
  max-width: 400px;
  margin: auto;
}
.scorecard tr:last-child {
  border-bottom: 1px solid rgba(158, 158, 158, 0.15);
}
.scorecard tr td:last-child {
  text-align: right;
}
.scorecard .btn-lg {
  width: 100%;
  margin-bottom: 15px;
}
.scorecard i:before,
.hall-of-fame i:before {
  font-size: 30px;
  margin-right: 0;
}



/***************************
    TOP SCORES/HALL OF FAME    
****************************/ 

.hall-of-fame {
  margin-top: 5px;
}
.table-hall-of-fame .table {
  color: black;
  border-radius: 0 0 3px 3px;
  background-color: rgba(248, 249, 250, .9);
}
.table-hall-of-fame thead td {
  border-top: none;
}
.table-hall-of-fame thead th,
.table-hall-of-fame thead td,
.table-hall-of-fame tbody td
 {
  vertical-align: middle;
  border-bottom: 2px solid #e9ecef;
  /* padding: 1rem 1.75rem; */
      padding: 5px 5px 5px 15px;
}
.table-hall-of-fame thead td {
    padding: .7rem 1rem;
}
.table-hall-of-fame tbody tr {
  box-shadow: 0 2px 2px lightgrey;
  border-style: none;
}
.reactable-column-header {
  background: #291f29;
  color: white;
}
/* ADD BOOTSTRAP .FORM-CONTROL STYLES TO THIS INPUT */
.reactable-filter-input {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* SCORES TABLE SORT ICONS  */
th.reactable-header-sortable:after {
  content: '\2191\2193';
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 5px;
}
th.reactable-header-sortable {
  cursor: pointer;
}

/* SCORES TABLE PAGINATION */
tbody.reactable-pagination td {
  display: table-cell; /* to get border-collapse */
  text-align:center;
  padding-bottom: 20px;
}
.reactable-pagination td a {
  display: inline-block;
  border-collapse: collapse;
  min-width: 30px;
  border: 1px solid #bbb;
  padding: 5px 10px;
  color: black;
}
.reactable-pagination td a:first-child {
  border-radius: 4px 0 0 4px;
}
.reactable-pagination td a.reactable-next-page {
  border-radius: 0 4px 4px 0;
}
td a.reactable-current-page {
  background: #bbb;
  color: white;
} 

.reactable-pagination tr {
  text-align: center;
}



.score-stats span {
  font-size: 2rem;
  /* match btn-lg dimensions */ 
  height: 45px;
  margin-bottom: 8px;
}
.quiz-score-card .btn,
.quiz-score-card .btn.active {
  background-color: black;
  color: #f0b64c;
}
.quiz-score-card .row {
  margin-bottom: 20px;
}

/***************************
        UTILITIES  
****************************/ 
.max-width-600 {
  max-width: 600px;
  margin: auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.alert-success {
  color: white;
  background-color: #0EBF00;
  border: none;
  float: right;
  display: none;
  margin-left: 15px;
  white-space: pre;
}

/* MAKE ICON SPIN */ 
/* .flaticon-dice {
  animation: rotate-center 0.6s ease-in-out;
}
@keyframes rotate-center {
   100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
} */

/***************************
        MEDIA QUERIES  
****************************/ 
@media screen and (max-width: 576px) {
  .nav-right {
    margin-left: unset;
  }
  .navbar-nav .nav-link.nav-link-auth {
    color: white;
    float: none;
  }
  .question-list .flash-text {
    font-size: 44px;
    /* padding-top: 19%; */
  }
  .question-list .hero-text {
    min-height: 140px;
  }
  .carousel .card {
    min-height: 400px;
  }
  .carousel-indicators {
    margin-right: 5%;
    margin-left: 5%;
  }

}

/* smaller than ipad portrait */
@media screen and (max-width: 767px) {
  .hidden-sm-down {
    display: none;
  }
  /* hide 4th column */
  .reactable-th-date,
  .reactable-data td:nth-child(4) {
    display: none;
  }

}

/* ipad portrait and up */
@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none;
  }
}


